<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d1m.wechat.mapper.DcrmImageTextDetailMapper">
    <select id="queryList" resultType="com.d1m.wechat.dto.DcrmImageTextDetailDto">
        select
        d.`id`,
        d.`title`,
        d.`content`,
        d.`link`,
        d.`material_cover_id`,
        (select m.pic_url from material m where d.material_cover_id=m.id) as coverPicUrl,
        d.`summary`,
        d.`material_id`,
        d.`wechat_id`,
        d.status,
        d.sequence,
        d.remark,
        d.material_category_id,
        (select m.`name` from material_category m where d.material_category_id=m.id) as categoryName,
        d.wx_image_text_id,
        d.tag_id,
        UNIX_TIMESTAMP(created_at) as created_at,
        d.laste_updated_by,
        UNIX_TIMESTAMP(laste_updated_at) as lasteUpdatedAt,
        d.send_times,
        d.read_times,
        d.qrcode_id,
        d.url
        from dcrm_image_text_detail d
        WHERE 1=1
        <if test="search != null">
            AND (d.title like concat('%',#{search},'%')
        </if>
        <if test="search != null">
            or d.summary like concat('%',#{search},'%')
        </if>
        <if test="search != null">
            or d.remark like concat('%',#{search},'%'))
        </if>

        <if test="materialCategoryId !=null">
            <choose>
                <when test='materialCategoryId =="other"'>
                    and d.`material_category_id` is null
                </when>
                <otherwise>
                    and d.`material_category_id`=#{materialCategoryId}
                </otherwise>
            </choose>
        </if>

        <choose>
            <when test="sidx != null">
                order by d.${sidx} ${order}
            </when>
            <otherwise>
                order by d.laste_updated_at desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryObject" resultType="com.d1m.wechat.dto.DcrmImageTextDetailDto">
	    select
        d.`id`,
        d.`title`,
        d.`content`,
        d.`link`,
        d.`material_cover_id`,
        (select m.pic_url from material m where d.material_cover_id=m.id) as coverPicUrl,
        d.`summary`,
        d.`material_id`,
        d.`wechat_id`,
        d.status,
        d.sequence,
        d.remark,
        d.material_category_id,
        d.wx_image_text_id,
        d.tag_id,
		(select GROUP_CONCAT(t.`name`) from member_tag t where FIND_IN_SET(t.id, d.tag_id)) as tagName,
        UNIX_TIMESTAMP(created_at) as created_at,
        d.laste_updated_by,
        UNIX_TIMESTAMP(laste_updated_at) as lasteUpdatedAt,
        d.send_times,
        d.read_times,
        d.qrcode_id,
        d.url
        from dcrm_image_text_detail d
		where id = #{id}
	</select>

    <update id="updateByid" parameterType="com.d1m.wechat.model.DcrmImageTextDetail">
        update dcrm_image_text_detail
        <set>
            <if test="qrcodeId != null">qrcode_id=#{qrcodeId},</if>
            <if test="materialId != null">material_id=#{materialId},</if>
            <if test="sendTimes != null">send_times=#{sendTimes},</if>
        </set>
        where id=#{id}
    </update>

    <select id="selectSendTimesById" resultType="java.lang.Integer">
        select send_times from dcrm_image_text_detail where id=#{id}
    </select>

    <update id="update" parameterType="com.d1m.wechat.model.DcrmImageTextDetail">
        UPDATE dcrm_image_text_detail
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            link = #{link},
            <if test="materialCoverId != null">material_cover_id = #{materialCoverId},</if>
            <if test="summary != null">summary = #{summary},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="wechatId != null">wechat_id = #{wechatId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="sequence != null">sequence = #{sequence},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="materialCategoryId != null">material_category_id = #{materialCategoryId},</if>
            wx_image_text_id = #{wxImageTextId},
            <if test="tagId != null">tag_id = #{tagId},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="lasteUpdatedAt != null">laste_updated_at = #{lasteUpdatedAt},</if>
            <if test="lasteUpdatedBy != null">laste_updated_by = #{lasteUpdatedBy},</if>
            <if test="sendTimes != null">send_times = #{sendTimes},</if>
            <if test="readTimes != null">read_times = #{readTimes},</if>
            <if test="qrcodeId != null">qrcode_id = #{qrcodeId},</if>
            <if test="url != null">url = #{url},</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>