<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d1m.wechat.mapper.EstoreProductImageMapper" >
  <resultMap id="BaseResultMap" type="com.d1m.wechat.model.EstoreProductImage" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="product_spec_id" property="productSpecId" jdbcType="BIGINT" />
    <result column="material_id" property="materialId" jdbcType="BIGINT" />
    <result column="wechat_id" property="wechatId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectProductImageListByProductId" resultMap="BaseResultMap">
    SELECT a.*,b.title,b.tag,b.url
    FROM estore_product_image a
    left join estore_material b on b.id=a.material_id
    where product_id = #{id}
  </select>

  <select id="selectProductSpecImageListBySpecId" resultMap="BaseResultMap">
    SELECT a.*,b.title,b.tag,b.url
    FROM estore_product_image a
    left join estore_material b on b.id=a.material_id
    where product_spec_id = #{id}
  </select>

</mapper>