<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d1m.wechat.mapper.EstoreOrderPayMapper" >
  <resultMap id="BaseResultMap" type="com.d1m.wechat.model.EstoreOrderPay" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="payment_id" property="paymentId" jdbcType="BIGINT" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="wechat_id" property="wechatId" jdbcType="BIGINT" />
    <result column="data" property="data" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>