<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d1m.wechat.mapper.EstoreProductSpecMapper" >
  <resultMap id="BaseResultMap" type="com.d1m.wechat.model.EstoreProductSpec" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sku" property="sku" jdbcType="VARCHAR" />
    <result column="spec_type" property="specType" jdbcType="TINYINT" />
    <result column="spec_value" property="specValue" jdbcType="VARCHAR" typeHandler="com.d1m.wechat.util.mybatis.JsonTypeHandler" />
    <result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="point" property="point" jdbcType="INTEGER" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="DOUBLE" />
    <result column="volume" property="volume" jdbcType="DOUBLE" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="modify_at" property="modifyAt" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="wechat_id" property="wechatId" jdbcType="BIGINT" />
  </resultMap>
</mapper>