<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d1m.wechat.dao.InterfaceConfigMapper">
	<resultMap type="com.d1m.wechat.dto.InterfaceConfigDto" id="InterfaceConfigResultMap">
		<id column="id" property="id" />
    	<result column="brand" property="brand" />
    	<result column="name" property="name" />
    	<result column="method_type" property="methodType" />
    	<result column="event" property="event" />
    	<result column="interface_name" property="interfaceName" />
    	<result column="parameter" property="parameter" />
    	<result column="description" property="description" />
    	<result column="url" property="url" />
    	<result column="key" property="key" />
    	<result column="secret" property="secret" />
    	<result column="sequence" property="sequence" />
    	<result column="is_deleted" property="isDeleted" />
    	<result column="created_at" property="createdAt" />
    	<result column="created_by" property="createdBy" />
    	<result column="laste_updated_at" property="lasteUpdatedAt" />
    	<result column="laste_updated_by" property="lasteUpdatedBy" />
	</resultMap>
	
	<select id="selectItems" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select id,brand from interface_config
	</select>
</mapper>