<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d1m.wechat.mapper.InterfaceConfigMapper">
	<resultMap type="com.d1m.wechat.dto.InterfaceConfigDto" id="interfaceConfigResultMap">
		<id column="id" property="id" />
    	<result column="brand" property="brand" />
    	<result column="app_key" property="key" />
    	<result column="app_secret" property="secret" />
    	<result column="name" property="name" />
    	<result column="method_type" jdbcType="TINYINT" property="methodType" />
    	<result column="type"  jdbcType="TINYINT" property="type" />
    	<result column="event" property="event" />
    	<result column="parameter" property="parameter" />
    	<result column="description" property="description" />
    	<result column="url" property="url" />
    	<result column="sequence" property="sequence" />
    	<result column="is_deleted" property="deleted" />
    	<result column="created_at" property="createdAt" />
    	<result column="created_by" property="createdBy" />
    	<result column="updated_at" property="updatedAt" />
    	<result column="updated_by" property="updatedBy" />
		<result column="status" jdbcType="TINYINT" property="status"/>

	</resultMap>

	<select id="selectItems" resultMap="interfaceConfigResultMap" parameterType="java.util.HashMap">
		SELECT ic.id,ic.name,ic.method_type,ic.type,ic.event,ic.parameter,ic.description,ic.url,ic.sequence,ic.is_deleted,ic.created_at,ic.created_by,ic.updated_at,ic.updated_by,ib.name AS brand,ib.app_key,ic.status
		FROM interface_config ic
		LEFT JOIN interface_brand ib ON ib.id = ic.brand
		WHERE ic.is_deleted = 0
		<if test="id != null and id!=0  "> AND  ic.id = #{id} </if>
		<if test="brand != null and brand!=0"> AND ic.brand =#{brand} </if>
		<if test="name != null and name!=''"> AND ic.name LIKE '%${name}%' </if>
		<if test="method_type != null"> AND ic.method_type = #{method_type} </if>
		<if test="type != null and type!=-1"> AND ic.type = #{type} </if>
		<if test="create_from != null"> AND ic.created_at <![CDATA[ >= ]]> #{create_from} </if>
		<if test="create_to != null"> AND ic.create_at <![CDATA[ <= ]]> #{create_to} </if>
		<if test="update_from != null"> AND ic.updated_at <![CDATA[ >= ]]> #{update_from} </if>
		<if test="update_to != null"> AND ic.updated_at <![CDATA[ <= ]]> #{update_to} </if>
		<if test="status != null and status!=-1"> AND ic.status = #{status} </if>
	</select>

	<select id="get" resultMap="interfaceConfigResultMap" parameterType="java.lang.String">
		SELECT ic.id,ic.name,ic.method_type,ic.type,ic.event,ic.parameter,ic.description,ic.url,ic.sequence,ic.is_deleted,ic.created_at,ic.created_by,ic.updated_at,ic.updated_by,ib.name AS brand,ib.app_key,ib.app_secret
		FROM interface_config ic
		LEFT JOIN interface_brand ib ON ib.id = ic.brand
		WHERE ic.id = #{0}
	</select>

	<select id="getSecret" resultMap="interfaceConfigResultMap" parameterType="java.lang.String">
		SELECT ib.app_key,ib.app_secret
		FROM interface_config ic
		LEFT JOIN interface_brand ib ON ib.id = ic.brand
		WHERE ic.id = #{0}
	</select>

	<select id="checkRepeatById" resultType="int">
		SELECT COUNT(*)
		FROM interface_config ic
		WHERE  ic.id != #{id}
		 AND  ic.brand = #{brand} AND ic.name =#{name}
	</select>



  </mapper>






