<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d1m.wechat.mapper.InterfaceSecretMapper">
	<resultMap id="BaseResultMap" type="com.d1m.wechat.model.InterfaceSecret">
		<!--
          WARNING - @mbg.generated
        -->
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="brand_id" jdbcType="INTEGER" property="brandId" />
		<result column="type" jdbcType="TINYINT" property="type" />
		<result column="app_key" jdbcType="VARCHAR" property="key"/>
		<result column="app_secret" jdbcType="VARCHAR" property="secret"/>
		<result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
	</resultMap>






  </mapper>






