<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d1m.wechat.mapper.MemberQrcodeStatisticsMapper" >
  


  <select id="getListMemberQrcodeStatistics" resultType="com.d1m.wechat.dto.QRcodeStatisticsDto">
      select  qc.name  ,qc.scene ,count(*) Scaveng , count(IF(ms.is_subscribe=0,true,null)) as ScavengSubscribe,
count(IF(ms.is_subscribe=1,true,null)) as SubscribeScaveng from  member_scan_qrcode ms 
left join qrcode  qc on ms.qrcode_id = qc.id  group by qrcode_id order by ms.qrcode_id
  </select>
</mapper>