<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d1m.wechat.mapper.MemberMemberTagMapper">
  <resultMap id="BaseResultMap" type="com.d1m.wechat.model.MemberMemberTag">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="member_tag_id" jdbcType="INTEGER" property="memberTagId" />
    <result column="wechat_id" jdbcType="INTEGER" property="wechatId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
  </resultMap>
  
  <select id="getMemberMemberTagList" resultMap="BaseResultMap" parameterType="com.d1m.wechat.model.MemberMemberTag">
  	SELECT
		m.open_id,
	  	mmt.member_tag_id
	FROM
		member_member_tag mmt,
		member m
	WHERE
		mmt.member_id = m.id
	  and mmt.member_tag_id=#{memberTagId}
  </select>
  
  <insert id="insertOrUpdateList" parameterType="java.util.List">
  	<foreach collection="list" item="item" index="index" separator=";">
  		insert into member_member_tag(member_id, member_tag_id, wechat_id, created_at) 
  		values (${item.memberId}, ${item.memberTagId}, ${item.wechatId}, now())
  		ON DUPLICATE KEY 
  		UPDATE member_id=${item.memberId},member_tag_id=${item.memberTagId},wechat_id=${item.wechatId},created_at=now()
  	</foreach>
  </insert>
</mapper>