<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d1m.wechat.mapper.PopupOrderMapper">
    <resultMap id="BaseResultMap" type="com.d1m.wechat.model.popup.dao.PopupOrder">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="member_id" jdbcType="BIGINT" property="memberId"/>
        <result column="wechat_id" jdbcType="INTEGER" property="wechatId"/>
        <result column="pay_type" jdbcType="TINYINT" property="payType"/>
        <result column="pay_status" jdbcType="TINYINT" property="payStatus"/>
        <result column="notify_status" jdbcType="TINYINT" property="notifyStatus"/>
        <result column="notify_update_time" jdbcType="TIMESTAMP" property="notifyUpdateTime"/>
        <result column="pay_order_no" jdbcType="VARCHAR" property="payOrderNo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap id="ListResultMap" type="com.d1m.wechat.model.popup.PopupOrderList">
        <result column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="wechat_id" jdbcType="INTEGER" property="wechatId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sku" jdbcType="VARCHAR" property="sku"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="member_id" jdbcType="INTEGER" property="memberId"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="track_no" jdbcType="VARCHAR" property="trackNo"/>
        <result column="pay_status" jdbcType="VARCHAR" property="payStatus"/>
        <result column="pay_type" jdbcType="VARCHAR" property="payType"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
    </resultMap>

    <select id="selectPopupOrderList" parameterType="HashMap" resultMap="ListResultMap">
            select order_id,goods_id,wechat_id,max(`name`) `name`,group_concat(sku) sku,group_concat(title) title,create_time,
            max(company) company,max(province) province,max(city) city,max(area) area,max(addr) addr,
            max(member_id) member_id, max(open_id) open_id, max(track_no) track_no,
            max(pay_status) pay_status,max(pay_type) pay_type, sum(price) price
            from (
            select a.order_id, a.goods_id, b.wechat_id, d.name, e.sku, e.title, b.create_time, c.company,
            h.province,h.city,h.area,h.addr,
            b.member_id, f.open_id, c.track_no, b.pay_status, b.pay_type, a.price
            from popup_order_goods_rel a
            left join popup_order b on b.id = a.order_id
            left join popup_order_express c on a.order_id = c.order_id
            left join popup_goods d on d.id = a.goods_id
            left join popup_goods_sku e on e.sku = a.sku
            left join member_benefit f on f.id = b.member_id
            left join popup_order_delivery_addr g on g.order_id = a.order_id and g.is_invoice = 0
            left join popup_delivery_addr h on h.id = g.addr_id
            where b.wechat_id = #{wechatId}
            ) x
            group by order_id,wechat_id,goods_id
            order by order_id desc
    </select>

</mapper>