<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d1m.wechat.mapper.PopupCountryAreaMapper" >
  <resultMap id="BaseResultMap" type="com.d1m.wechat.model.popup.dao.PopupCountryAreaDao" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name_zh" property="nameZh" jdbcType="VARCHAR" />
    <result column="name_en" property="nameEn" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="selectAreaByLevel" parameterType="HashMap" resultMap="BaseResultMap">
    select * from popup_country_area
    <where>
     <choose>
       <when test="level == 0">
         pid = 0
       </when>
       <when test="level == 1">
         pid = 1
       </when>
       <when test="level == 2">
         pid in (select id from popup_country_area where pid = 1)
       </when>
       <when test="level == 3">
         pid in (select id from popup_country_area where pid in (select id from popup_country_area where pid = 1))
       </when>
       <otherwise>
         1 = 1
       </otherwise>
     </choose>
    </where>
  </select>
</mapper>