<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d1m.wechat.mapper.PopupOrderDeliveryAddrMapper" >
  <resultMap id="BaseResultMap" type="com.d1m.wechat.model.popup.dao.PopupOrderDeliveryAddr" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="addr_id" property="addrId" jdbcType="BIGINT" />
    <result column="msm_open" property="msmOpen" jdbcType="TINYINT" />
    <result column="msm_phone" property="msmPhone" jdbcType="VARCHAR" />
    <result column="delivery_type" property="deliveryType" jdbcType="TINYINT" />
    <result column="is_invoice" property="isInvoice" jdbcType="TINYINT" />
  </resultMap>
</mapper>