<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d1m.wechat.mapper.WXEventMapper">
	<resultMap id="BaseResultMap" type="com.d1m.wechat.model.WXEvent">
		<!--
          WARNING - @mbg.generated
        -->
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="name" jdbcType="VARCHAR" property="name"/>
		<result column="parentId" jdbcType="INTEGER" property="parentId" />
	</resultMap>


	<select id="selectEventItmes" resultMap="BaseResultMap">
		select
		   we.name
		from wx_event as we
		left join event_forward_details efd on we.id = efd.event_id
		where efd.event_forward_id = #{id}
	</select>


</mapper>